li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    font-family: georgia;
	font-size:14px;
	
}
